@import url(../global.css);
@import url(../reset.css);
@import url(../variables.css);
@import url(../components/header.css);
@import url(../components/footer.css);


body {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;

    background-color: var(--base-001);
    color: var(--text-000);

    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.page-one {
    background-image: url(../../assets/design/png/cubiclesFloat.png);
}

.get_started_button, .features_button {
    text-align: center;

    color: var(--text-000);
    background-color: var(--detail-000);

    padding: 20px;
    margin: 20px;
}

.main_content {
    display: block;
    text-align: center;

    padding: 64px;
    margin: 32px;
}

.welcome, .intro {
    padding: 20px;
    font-size: 64px;
    margin-bottom: 32px;

    margin-left: 250px;
    margin-right: 250px;

    background-color: var(--detail-opac);
}

.welcome_text, .intro_text {
    padding: 30px;
    padding-bottom: 32px;

    margin-left: 250px;
    margin-right: 250px;

    background-color: var(--detail-opac);
}

.features {
    padding: 20px;
    font-size: 32px;
    margin-top: 30px;


    margin-left: 250px;
    margin-right: 250px;
    
    background-color: var(--detail-opac);
}


.get_started_button {
    padding: 20px;
    margin: 20px;
}

.features_button {
    padding: 20px;
    margin: 20px;
}