@import url(../global.css);
@import url(../reset.css);
@import url(../variables.css);
@import url(../components/header.css);
@import url(../components/footer.css);


body {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;

    background-color: var(--base-001);
    color: var(--text-000);

}

body.page-one {
    background-image: url(../../assets/design/png/cubiclesFloat.png);
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
}

.main_content {
    display: block;
    text-align: center;

    padding: 64px;
    margin: 32px;
}

.main_content section {
    margin-left: 100px;
    margin-right: 100px;

    margin-bottom: 50px;
}

.feature_title {
    padding: 20px;
    font-size: 64px;
    margin-bottom: 32px;
    background-color: var(--detail-opac);

    margin-left: 250px;
    margin-right: 250px;
}

.feature_text {
    padding: 30px;
    margin: 16px;

    background-color: var(--detail-opac);

    margin-left: 150px;
    margin-right: 150px;
}


.main_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 250px;
    margin-right: 250px;
}

.main_form label {
    width: 350px;

    text-align: left;
    background-color: var(--detail-opac);
}

.feature_text_two {
    font-size: 12px;

    background-color: var(--detail-opac);
}

.remember_check {
    width: 16px;
    height: 16px;
}

.email_input, .password_input {
    width: 350px;
    height: 32px;
}

.login_social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: var(--detail-opac);
}

.login_social_links div {
    width: 34px;
    height: 34px;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.login_social_links div:hover {
    transform: scale(1.1);
}

.img_github,
.img_facebook,
.img_gmail,
.img_discord {
    width: 34px;
    height: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img_gmail {
    background-image: url('../../assets/socialLinks/gmail.png');
}

.img_github {
    background-image: url('../../assets/socialLinks/github.png');
}

.img_facebook {
    background-image: url('../../assets/socialLinks/facebook.png');
}

.img_discord {
    background-image: url('../../assets/socialLinks/discord.png');
}

.submit_button {
    text-align: center;

    color: var(--text-000);
    background-color: var(--detail-000);

    padding: 20px;
    margin: 20px;
}





