@import url(./variables.css);

body, button, input, select, textarea {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

button {
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: var(--detail-111);
}