@import url(../global.css);
@import url(../reset.css);
@import url(../variables.css);

.header {
    display: flex;

    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: var(--base-000);
}

.header_nav_logo {
    position: relative;
    margin-left: 16px;
    margin-top: 8px;
}

.header_nav_logo_img {
    background-image: url(../../assets/image/LOGO.png);
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75.2px;
    height: 55.53px;
    border-radius: 0px;
}

.header_nav_logo_name {
    background-image: url(../../assets/image/logoName.png);
    background-size: cover;
    position: absolute;
    left: 79px;
    top: 0px;
    width: 272.55px;
    height: 55.53px;
    border-radius: 0px;
}


.header_nav_buttons {
    position: relative;
    margin-right: 32px;
}

.header_nav_login_button {
    padding: 16px;
    margin: 8px;

    text-align: center;

    color: var(--text-000);
    background-color: var(--detail-000);
}

.header_nav_register_button {
    padding: 16px;
    margin: 8px;

    text-align: center;

    color: var(--text-000);
    background-color: var(--detail-000);
}